{% extends "base.html" %}
{% load static %}
{% block content %}

 <!-- Authors Section -->
 <section>
    <form style="margin-left: 1100px;" method=POST action="{% url 'blog:authors_list' %}">
        {% csrf_token %}
        <input type="search" placeholder="Поиск" name="searched">
        <button>search</button>
    </form>
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Aвторы</h2>
                <h3 class="section-subheading text-muted">Сначала произведения дают славу автору, а потом уже автор дает славу своим произведениям. Ш. Монтескье </h3>
            </div>
        </div>
        <div id="myCarousel-two" class="carousel slide">
            <!-- Wrapper for Slides -->

            {% for author in authors %}
                <button class="accordion">{{author.name}}</button>
                <div class="panel">
                    <p class="size">{{author.short_description}}</p>
                    <a sclass="readmore-txt" href="{% url 'blog:authors_detail' pk=author.id %}">Подробнее..</a>
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>

{% endblock %}
