{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->



    <!-- Project Details Go Here -->
    <div style="width: 1200px; padding: 20px; margin-left: 70px; margin-top: 20px;">
        <h2 style="padding-top:100px ;">{{book.name}}</h2>
        <p class="item-intro text-muted">{{book.author}}</p> 
        <a href="{% url 'blog:pdf' pk=book.id %}">Открыть PDF -></a>
        <p class="item-intro text-muted">{{book.pdf_file}}</p> 
        <p class="item-intro text-muted">{{book.discription}}</p> 
        {% for i in book.url.all %}
            <h4><a href="{{i.url_for}}" target="_blank">{{i.name}}</a></h4>
        {% endfor %}
          
        
    </div>
   
{% endblock %}    
